.calendar {
    background-color: var(--calendar-background-color);
}
.calendarsContainer-wrapper {
    width: 100%;
}
.calendarsContainer {
    display: inline-block;
    position: relative;
}
.calendarContainer {
    display: inline-block;
    position: relative;
    margin: 20px;
    
}
table, th, td {
    border: 1px solid #ddd;
    font-size: 12px;
}